<!-- Надо использовать 'locals' что б не было ошибки -->
<% if (locals.errorMessage != null) { %>
    <pre class="alert alert-danger" role="alert"><%= errorMessage %></pre>
<% }; %>

<div class="mb-3">
    <label for="markdown" class="form-label">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control" row=3><%= subArticle.markdown %></textarea>
</div>

<div class="mb-3">
    <label for="SubArticleCover">Cover [saves to file system]</label>
    <input type="file" name="SubArticleCover" id="SubArticleCover" class="form-control">
</div>

<% if (locals.pageRoute === 'edit') { %>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="yes" id="isRemoveCover" name="isRemoveCover">
            <label class="form-check-label" for="isRemoveCover">
                Is remove the cover from the file system?
            </label>
        </div>
    </div>
<% } %>

<% if (subArticle.coverImageName != null) { %>
    <p>
        Image path = <%= article.coverImageFolderPath + subArticle.coverImageName %>
    </p>
    <div class="mb-3">
        <figure class="figure">
            <img src="<%= article.coverImageFolderPath + subArticle.coverImageName %>" class="figure-img img-fluid rounded" />
        </figure>
    </div>
<% } %>

<!-- <div class="mb-3">
    <label for="test" class="form-label">Test</label>
    <input value="<%= subArticle.test %>" name="test" id="test" type="text" class="form-control">
</div> -->

<% if (locals.pageRoute === 'edit') { %>
    <a href="/articles/subarticle/<%= subArticle.id %>" class="btn btn-secondary">Cancel</a>
<% } else if (locals.pageRoute === 'new') { %>
    <a href="/articles/subarticle/<%= article.id %>" class="btn btn-secondary">Cancel</a>
<% } %>

<button type="submit" class="btn btn-primary">Save</button>