<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sub Article</title>
    <%- include('../common/head') %>
</head>

<body>
    <div class="container">

        <h1>
            SUB ARTICLE !
        </h1>

        <div class="mb-2">
            <a href="/" class="btn btn-secondary">All Articles</a>
            <a href="/articles/<%= article.slug %>" class="btn btn-secondary">Parent Article</a>
            <a href="/articles/subarticle/edit/<%= subArticle.id %>" class="btn btn-primary">Edit</a>
            <form action="/articles/subarticle/<%= subArticle.id %>?_method=DELETE" method="POST" class="d-inline">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>

        <h2>
            <%= subArticle.markdown %>
        </h2>

        <% if (subArticle.coverImageName != null) { %>
            <figure class="figure w-100 text-center">
                <img class="figure-img img-fluid rounded"
                     src="<%= article.coverImageFolderPath + subArticle.coverImageName %>"
                >
            </figure>
        <% } %>

        <div class="row">
            <div class="col-4">
                <a href="" class="btn btn-lg btn-secondary w-100">
                    < Prev
                </a>
            </div>
            <div class="col-8">
                <a href="" class="btn btn-lg btn-primary w-100">
                    Next >
                </a>
            </div>
        </div>

        <hr>
        <hr>
        <hr>

        <h1 class="mb-2">
            <%= article.title %>
        </h1>

        <p class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </p>

        <div class="mb-2">
            <a href="/" class="btn btn-secondary">All Articles</a>
            <a href="/articles/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
            <a href="/articles/subarticle/new?parentArticleId=<%= article.id %>" class="btn btn-success">Add New SubArticle</a>
        </div>

        <h5>
            coverImagePath:
        </h5>

        <p>
            <%= article.coverImagePath %>
        </p>

        <% if (article.coverImagePath !=null) { %>
            <figure class="figure">
                <img src="<%= article.coverImagePath %>" class="figure-img img-fluid rounded">
            </figure>
        <% } %>

        <hr>

        <p>
            <%- article.sanitizedHtml %>
        </p>

        <h5>
            Sub Articles: <%= article.subArticles.length %>
        </h5>
        <% article.subArticles.forEach(subArticle => { %>
            <div class="card">
                <div class="card-body">
                    <div>
                        <a href="/articles/subarticle/<%= subArticle.id %>" class="btn btn-primary">Open</a>
                    </div>
                    <p>
                        <%= subArticle.markdown %>
                    </p>
                    <p>
                        Image = <%= article.coverImageFolderPath + subArticle.coverImageName %>
                    </p>
                    <img src="<%= article.coverImageFolderPath + subArticle.coverImageName %>" >
                </div>
            </div>
        <% }) %>

    </div>
</body>

</html>